<app-component>
  <div class=loading_content>
    <div class=logo>
      <div class=wrapper>
        <p class="loading-text">
          Loading ...
        </p>
        <img class=logo_img src="/bundles/images/mcai.animated.white.svg">
      </div>
    </div>
    <div class=loading>
    </div>
  </div>
</app-component>
