<div *ngIf="images">
  <h1>
    Images
  </h1>

  <div class=header>
    <label class=name>
      Image
    </label>
    <span class=version>
      Version
    </span>
    <span class=identifier>
      Image ID
    </span>
    <span class=size>
      Size
    </span>
    <span class=action>
    </span>
  </div>

  <div *ngFor="let image of images"
    class="image">
    <image-component
      [image]=image
      [worker_id]=worker_id
      (refresh)="getImages()"
      ></image-component>
  </div>
</div>
