<div *ngIf="images">
  <h1>
    Images
  </h1>

  <div class=header>
    <label class=name>
      Image
    </label>
    <span class=version>
      Version
    </span>
    <span class=identifier>
      Image ID
    </span>
    <span class=size>
      Size
    </span>
    <span class=action>
    </span>
  </div>

  <div *ngFor="let image of images"
    class="image">
    <label class=name>
      {{image.params.image | dockerImage}}
    </label>
    <span class=version>
      {{image.params.image | dockerImageVersion}}
    </span>
    <span class=identifier>
      {{image.id | slice: 7 : 19}}
    </span>
    <span class=size>
      {{image.size | bytes}}
    </span>
    <span class=action>
      <button
        mat-raised-button
        color="primary"
        (click)="updateImage(image.id)"
        >
        <i class="material-icons">
          autorenew
        </i>
        Update
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="deleteImage(image.id)"
        >
        <i class="material-icons">delete_forever</i>
        Remove
      </button>
    </span>
  </div>
</div>
