@import '../colors';

h1,
.search-params {
  padding-left: 40px;
}

.workers {

  .worker {
    padding: 5px;
    display: flex;

    .id,
    .ips,
    .ports,
    .instance_id,
    .dm_queue_name,
    .creation_date,
    .termination_date {
      flex: 1;
    }

    .ips .ip,
    .ports .port {
      background-color: @backGreen;
      border-radius: 6px;
      padding: 3px;
      margin-right: 3px;
    }
  }

  .worker:nth-child(2n+1) {
    background-color: @lightGrey;
  }

  .worker.header {
    font-weight: bold;
    background-color: @green;
  }
}

.paginator {
  margin-bottom: 80px;
}
