<h1>
  Workers
</h1>

<div class="containers-creation-bar">
  <div class=workers_selector>
    <mat-form-field>
      <mat-select
        class="workers-select"
        placeholder="Worker"
        [(ngModel)]="selectedWorker"
        >
        <mat-option
          *ngFor="let image of images"
          [value]="image">
          {{image.node_config.label}} | {{image.params.image | dockerImage}} - {{image.params.image | dockerImageVersion}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button
    color="primary"
    (click)="addContainer()"
    [disabled]="!selectedWorker">
      <i class="material-icons">add</i> Ajouter un worker
  </button>
</div>

<ul class="containers">
   <li class="container header">
    <span class="id">
      ID
    </span>
    <span class="image">
      Image
    </span>
    <span class="version">
      Version
    </span>
    <span class="host">
      Hôte
    </span>
    <span class="status">
      Statut
    </span>
    <span class="actions">
    </span>
  </li>
  <li
    *ngFor="let container of containers"
    class="container"
    >
    <span class="id">
      {{container.id | slice:0:12}}
    </span>
    <span class="image">
      {{container.image | dockerImage}}
    </span>
    <span class="version">
      {{container.image | dockerImageVersion}}
    </span>
    <span class="host">
      {{container.node_config.label}}
    </span>
    <span class="status"
      [ngClass]="container.state">
      {{container.status}}
    </span>
    <span class="actions">
      <button mat-raised-button
        color="primary"
        (click)="actionContainer(container.id, container.state)" *ngIf="container.state != 'running'">
          <i class="material-icons">play_circle_outline</i> Start
      </button>
      <button mat-raised-button
        color="accent"
        (click)="actionContainer(container.id, container.state)" *ngIf="container.state == 'running'">
          <i class="material-icons">pause_circle_outline</i> Stop
      </button>
      <button mat-raised-button
        color="warn"
        (click)="removeContainer(container.id)"
        [disabled]="(container.state == 'running')">
          <i class="material-icons">delete</i> Supprimer
      </button>
    </span>
  </li>
</ul>
