
<h1>
  Workers
</h1>

<h2>
  Live workers
</h2>

<div class="search-params">
  <mat-form-field>
    <mat-select
      class="status-select"
      placeholder="Status"
      [(ngModel)]="selectedStatus"
      (selectionChange)="updateSearch()"
      multiple
      >
      <mat-option
        *ngFor="let state of status"
        [value]="state.id"
        [ngClass]="state.id"
        class="state-option"
        >
        {{ state.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<ul class="workers">
   <li class="worker header">
    <span class="instance_id">
      Instance ID
    </span>
    <span class="ips">
      IPs
    </span>
    <span class="ports">
      Ports
    </span>
    <span class="dm_queue_name">
      Direct messaging queue name
    </span>
    <span class="creation_date">
      Creation date
    </span>
    <span class="termination_date">
      Termination Date
    </span>
  </li>
  <li
    *ngFor="let worker of workers"
    class="worker"
    >
    <span class="instance_id">
      {{worker.instance_id}}
    </span>
    <span class="ips">
      <span class="ip" *ngFor="let ip of worker.ips">
        {{ip}}
      </span>
    </span>
    <span class="ports">
      <span class="port" *ngFor="let port of worker.ports">
        {{port}}
      </span>
    </span>
    <span class="dm_queue_name">
      {{worker.direct_messaging_queue_name}}
    </span>
    <span class="creation_date">
      {{worker.creation_date | date: 'd LLL yy H:mm:ss'}}
    </span>
    <span class="termination_date">
      {{worker.termination_date | date: 'd LLL yy H:mm:ss'}}
    </span>
  </li>
</ul>

<h2>
  Workers status
</h2>

<ul class="workers-status">
  <li class="worker header">
    <span class="instance_id">
      Instance ID
    </span>
    <span class="worker-name">
      Name
    </span>
    <span class="worker-version">
      Version
    </span>
    <span class="worker-activity">
      Activity
    </span>
    <span class="current-job">
      Current job
    </span>
    <span class="job-status">
      Status
    </span>
  </li>
  <li *ngFor="let status of workers_status"
      class="worker">
    <span class="instance_id">
      {{status.instance_id}}
    </span>
    <span class="worker-name">
      {{status.label}}
    </span>
    <span class="worker-version">
      {{status.version}}
    </span>
    <span class="worker-activity">
      {{status.activity}}
    </span>
    <span class="current-job" *ngIf="status.current_job">
      {{status.current_job.job_id}}
    </span>
    <span class="current-job" *ngIf="!status.current_job">
      -
    </span>
    <span class="job-status" *ngIf="status.current_job">
      {{status.current_job.status}}
    </span>
    <span class="job-status" *ngIf="!status.current_job">
      -
    </span>
  </li>
</ul>
