<h1>
  Workers
</h1>


<ul *ngIf="containersPage" class="containers">
   <li class="container header">
    <span class="names">
      Noms
    </span>
    <span class="image">
      Image
    </span>
    <span class="state">
      Etat
    </span>
    <span class="status">
      Statut
    </span>
    <span class="id">
      ID
    </span>
    <span class="host">
      Hôte
    </span>
  </li>
  <li
    *ngFor="let container of containersPage.data"
    class="container"
    >
    <span class="names">
      {{container.names}}
    </span>
    <span class="image">
      {{container.image}}
    </span>
    <span class="state">
      {{container.state}}
    </span>
    <span class="status">
      {{container.status}}
    </span>
    <span class="id">
      {{container.id | slice:0:12}}
    </span>
    <span class="host">
      {{container.host.host}} [{{container.host.port}}]
    </span>
  </li>
</ul>
