<h1>
  Workers
</h1>

<div class="containers-creation-bar">
  <div class=nodes-selector>
    <mat-form-field>
      <mat-select
        class="nodes-select"
        placeholder="Hôte"
        [(ngModel)]="selectedNode"
        >
        <mat-option
          *ngFor="let node of nodes"
          [value]="node">
          {{ node.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class=workers_selector>
    <mat-form-field>
      <mat-select
        class="workers-select"
        placeholder="Worker"
        [(ngModel)]="selectedWorker"
        >
        <mat-option
          *ngFor="let image of images"
          [value]="image">
          {{ image.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button
    color="primary"
    (click)="addContainer()"
    [disabled]="!selectedWorker || !selectedNode">
      + Ajouter un worker
  </button>
</div>

<ul class="containers">
   <li class="container header">
    <span class="names">
      Nom
    </span>
    <span class="image">
      Image
    </span>
    <span class="state">
      Etat
    </span>
    <span class="status">
      Statut
    </span>
    <span class="id">
      ID
    </span>
    <span class="host">
      Hôte
    </span>
    <span class="action">
    </span>
  </li>
  <li
    *ngFor="let container of containers"
    class="container"
    >
    <span class="names">
      {{container.names}}
    </span>
    <span class="image">
      {{container.image}}
    </span>
    <span class="state">
      {{container.state}}
    </span>
    <span class="status">
      {{container.status}}
    </span>
    <span class="id">
      {{container.id | slice:0:12}}
    </span>
    <span class="host">
      {{container.node_config.label}}
    </span>
    <span class="action">
      <button mat-raised-button
        color="primary"
        (click)="actionContainer(container.id, container.state)" *ngIf="container.state != 'running'">
          <i class="material-icons">play_circle_outline</i> Start
      </button>
      <button mat-raised-button
        color="accent"
        (click)="actionContainer(container.id, container.state)" *ngIf="container.state == 'running'">
          <i class="material-icons">pause_circle_outline</i> Stop
      </button>
      <button mat-raised-button
        color="warn"
        (click)="removeContainer(container.id)"
        [disabled]="(container.state == 'running')">
          <i class="material-icons">delete</i> Supprimer
      </button>
    </span>
  </li>
</ul>
