<div *ngIf=job>
  <h1 mat-dialog-title>Job details: {{ job.name | jobType }} #{{ job.id }}</h1>
  <div mat-dialog-content  class="details">
    <div class="status">
      <label>
        Status
      </label>
      <span class="{{job | jobStatus}}">
        {{job | jobStatus | titlecase}}
      </span>
    </div>

    <div class="duration">
      <span *ngIf="duration" title="{{duration | duration : 'human'}}">
        <div>
          <span class="label">Pending duration: </span>
          <span class="time">{{ duration.order_pending * 1000 | duration : 'timecode_ms' }}</span>
        </div>
        <div>
          <span class="label">Processing duration: </span>
          <span class="time">{{ duration.processing * 1000 | duration : 'timecode_ms' }}</span>
        </div>
        <div>
          <span class="label">Response latency: </span>
          <span class="time">{{ duration.response_pending * 1000 | duration : 'timecode_ms' }}</span>
        </div>
        <div>
          <span class="label">Total duration: </span>
          <span class="time">{{ duration.total * 1000 | duration : 'timecode_ms' }}</span>
        </div>
      </span>
    </div>

    <div class="times">
      <div>
        <span class="label">Started at: </span>
        <span class="time">{{ job.inserted_at+'Z' | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
      </div>
      <div *ngIf="job.status[0]">
        <span class="label">Ended at: </span>
        <span class="time">{{ job.status[0].inserted_at+'Z' | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
      </div>
    </div>

    <div class="worker">
      <span class="label">Worker: </span>
      <span *ngIf="worker_instance_id">
        <button
          mat-button
          color="primary"
          (click)="goToWorkers()"
          title="Go to workers">
          {{worker_instance_id}}
        </button>
      </span>
      <span *ngIf="!worker_instance_id">
        <button
          mat-button
          disabled>
        </button>
      </span>
    </div>

    <div class="error-description" *ngIf="job.status[0] && job.status[0].state == 'error' && job.status[0].description">
      <h4>Error</h4>
      {{ job.status[0].description.message }}
    </div>

    <h4>Parameters</h4>
    <pre>{{job.params | json}}</pre>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">OK</button>
  </div>
</div>
