
<h1>
  Dashboard
</h1>

<h3>Workflow history</h3>
<div id="chartContainer">
  <span class=spinner>
    <img src="/bundles/images/media-io.animated.svg" width="80px" height="80px" />
    <span class=text>
      Loading ...
    </span>
  </span>
</div>

<div class=selectors>
  <mat-form-field>
    <mat-select
      placeholder="Workflows"
      [(ngModel)]="selectedWorkflows"
      (selectionChange)="updateWorkflows()"
      multiple
      >
      <mat-option
        *ngFor="let workflow of workflows"
        [value]="workflow.id"
        [ngClass]="workflow.id"
        >
        {{ workflow.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      placeholder="Scale"
      [(ngModel)]="selectedScale"
      (selectionChange)="updateScale()"
      >
      <mat-option
        *ngFor="let scale of scales"
        [value]="scale.id"
        [ngClass]="scale.id"
        >
        {{ scale.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="application">

  <amqp-queues *ngIf="right_technician">
  </amqp-queues>

  <watchers-component *ngIf="right_technician && application.identifier == 'vidtext'">
  </watchers-component>
</div>
