
<h1>
  Dashboard
</h1>

<h3>Workflow history</h3>

<div class=selectors>
  <workflow-seach-bar [parameters]="parameters" (parametersEvent)="updateWorkflows($event)"></workflow-seach-bar>
</div>

<div id="chartContainer">
  <span class=spinner>
    <img src="/bundles/images/media-io.animated.svg" width="80px" height="80px" />
    <span class=text>
      Loading ...
    </span>
  </span>
</div>

<div *ngIf="application">

  <amqp-queues *ngIf="right_technician">
  </amqp-queues>

  <watchers-component *ngIf="right_technician && application.identifier == 'vidtext'">
  </watchers-component>
</div>
