<div class=input>
  <mat-list>
    <mat-list-item *ngFor="let item of items; let i = index; trackBy: track" [attr.data-index]="i">

      <mat-form-field class="item-input">
        <input
          matInput
          name="input_{{i}}"
          [(ngModel)]="items[i]"
          >
        <mat-icon matSuffix 
          (click)="items.splice(i, 1)"
          class=delete_button>
          delete
        </mat-icon>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
  <button mat-button (click)="items.push('')">
    <i class="material-icons">add</i>
    Add
  </button>
</div>
