<div class="link-import">
  <div class="link">
    <div class="logo {{type}}">
      <img src="/bundles/images/{{type}}.png"/>
    </div>

    <mat-form-field class="name-input">
      <input
        matInput
        placeholder="{{label}} search"
        [(ngModel)]=query
        (ngModelChange)="searchImdb(query)"
        [matAutocomplete]="auto"
        >

      <mat-autocomplete #auto="matAutocomplete">
        <span *ngIf="autocomplete">
        <mat-option  *ngFor="let user of autocomplete.d" [value]="user.l"
          (onSelectionChange)="selectUser(user.id)">
          <span class="poster">
            <img *ngIf="user.i" src="{{user.i[0]}}"/>
          </span>
          <span class=description>
            <label>
              {{user.l}}
            </label>
            <div class="title">
              {{user.s}}
            </div>
          </span>
        </mat-option>
      </span>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="spinner" *ngIf=loading>
    <mat-spinner
      diameter=50
      strokeWidth=3
      [color]="accent">
    </mat-spinner>
  </div>
  <div *ngIf="selected && !loading" class=selected>
    <span class="poster">
      <img *ngIf="selected.picture_url" src="{{selected.picture_url}}"/>
    </span>
    <span class=description>
      <label>
        {{selected.name}}
      </label>
      <div class="birth_date">
        {{selected.birth_date}}
      </div>
      <div class="birth_location">
        {{selected.birth_location}}
      </div>
    </span>
  </div>
</div>
