<h1>
  Person
</h1>

<div class="person">
  <div *ngIf=!creation class="step-content">
    <person-form-component [person]=person (change)="updated = true"></person-form-component>
    <div>
      <button mat-raised-button
        (click)="cancel()">
        <i class="material-icons">cancel</i>
        Cancel
      </button>
      <button mat-raised-button
        color="primary"
        [disabled]=!updated
        (click)="updatePerson()">
        <i class="material-icons">done</i>
        Update
      </button>
    </div>
  </div>

  <div *ngIf="creation">
    <mat-horizontal-stepper [linear]=true #stepper>
      <ng-template matStepperIcon="edit" let-index="index">
        <mat-icon *ngIf="index > -1">done</mat-icon>
      </ng-template>

      <mat-step label="IMDb Profile">
        <div class="step-content">
          <link-import-component
            type="imdb"
            (onUrlSet)="addPeopleLink(stepper, $event)">
          </link-import-component>
          <div class=actions>
            <span class=spanner></span>
            <button mat-raised-button
              (click)="cancel()">
              <i class="material-icons">cancel</i>
              Cancel
            </button>
            <button mat-raised-button
              *ngIf="person.links.length > 0"
              matStepperNext
              color="accent"
              (click)="getPeopleInfo()"
              >Next
              <i class="material-icons">navigate_next</i>
            </button>
            <button mat-raised-button
              *ngIf="person.links.length == 0"
              matStepperNext
              color="primary"
              >Skip
              <i class="material-icons">navigate_next</i>
            </button>
          </div>
        </div>
      </mat-step>
      <!-- <mat-step label="LinkedIn Profile">
        <div class="step-content" >
          <link-import-component
            type="linkedin"
            (onUrlSet)="addPeopleLink(stepper, $event)">
          </link-import-component>
          <div class=actions>
            <span class=spanner></span>
            <button mat-raised-button
              (click)="cancel()">
              <i class="material-icons">cancel</i>
              Cancel
            </button>
            <button mat-raised-button
              matStepperPrevious>
              <i class="material-icons">navigate_before</i>
              Back
            </button>
            <button mat-raised-button
              matStepperNext
              color="accent"
              >
              <i class="material-icons">navigate_next</i>
              Next
            </button>
            <button mat-raised-button
              matStepperNext
              color="primary"
              >
              <i class="material-icons">navigate_next</i>
              Skip
            </button>
          </div>
        </div>
      </mat-step>
      <mat-step label="Facebook Profile">
        <div class="step-content">
          <link-import-component
            type="facebook"
            (onUrlSet)="addPeopleLink(stepper, $event)">
          </link-import-component>
          <div class=actions>
            <span class=spanner></span>
            <button mat-raised-button
              (click)="cancel()">
              <i class="material-icons">cancel</i>
              Cancel
            </button>
            <button mat-raised-button
              matStepperPrevious>
              <i class="material-icons">navigate_before</i>
              Back
            </button>
            <button mat-raised-button
              matStepperNext
              color="accent"
              >
              <i class="material-icons">navigate_next</i>
              Next
            </button>
            <button mat-raised-button
              matStepperNext
              color="primary"
              >
              <i class="material-icons">navigate_next</i>
              Skip
            </button>
          </div>
        </div>
      </mat-step> -->
      <mat-step label="Complete information">
        <div class="step-content">
          <mat-spinner
            *ngIf=gettingPeopleInfo
            class="spinner"
            [color]="accent">
          </mat-spinner>
          <div *ngIf=!gettingPeopleInfo>
            <person-form-component [person]=person (change)="setPerson($event)"></person-form-component>
            <div class=actions>
              <span class=spanner></span>
              <button mat-raised-button
                (click)="cancel()">
                <i class="material-icons">cancel</i>
                Cancel
              </button>
              <button mat-raised-button
                matStepperPrevious>
                <i class="material-icons">navigate_before</i>
                Back
              </button>
              <button mat-raised-button
                (click)="createPerson()"
                color="accent"
                [disabled]=!filled>
                <i class="material-icons">add</i>
                Add person
              </button>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
