@import '../colors';

ul.persons {
  list-style: none;
  padding: 0px;

  li.persons-header {
    font-weight: bold;
    padding: 10px;
    display: flex;

    span {
      line-height: 35px;
    }

    span.last_name,
    span.first_name,
    span.birth_date,
    span.status {
      flex: 1
    }

    /*span.actions {
      width: 300px;
    }*/
  }

  li.person {
    padding: 10px;
    background-color: @white;
    display: flex;

    span.last_name,
    span.first_name,
    span.birth_date {
      flex: 1;
    }

    span.status {
      flex: 1;
      .state {
        color: @white;
        padding: 4px;
        border-radius: 3px;
      }

      .state.enabled {
        background-color: @green;
      }

      .state.pending {
        background-color: @blue;
      }
    }

  }

  .actions {
    flex: 1;
    text-align: right;
  }
}

.paginator {
  margin-bottom: 80px;
}
