<h1 mat-dialog-title *ngIf=person class="title">
  <i class="material-icons">person</i>
  {{ first_names }} {{ person.last_name }}
</h1>

<div mat-dialog-content
  *ngIf=person
  class="show-person">
  <div>
    <label>Last name</label>
    <span>{{ person.last_name }}</span>
  </div>
  <div>
    <label>First name(s)</label>
    <span>{{ first_names }}</span>
  </div>
  <div>
    <label>Gender</label>
    <span>{{ person.gender }}</span>
  </div>
  <div>
    <label>Date of birth</label>
    <span>{{ person.birth_date | date: 'd LLL yyyy'}}</span>
  </div>
  <div *ngIf="person.birth_city">
    <label>City of birth</label>
    <span>{{ person.birth_city }}</span>
  </div>
  <div *ngIf="person.birth_country">
    <label>Country of birth</label>
    <span>{{ person.birth_country }}</span>
  </div>
  <div *ngIf="nationalities">
    <label>Nationality</label>
    <span>{{ nationalities }}</span>
  </div>
  <div class="icons">
    <label>Links</label>
    <a *ngIf="person.links.imdb"
      target="_blank"
      href="https://www.imdb.com/name/{{ person.links.imdb }}/">
      <span class="icon imdb" >
        <img src="/bundles/images/imdb.png" />
      </span>
    </a>
    <a *ngIf="person.links.linkedin"
      target="_blank"
      href="{{ person.links.linkedin }}">
      <span class="icon linkedin" >
        <img src="/bundles/images/linkedin.jpg" />
      </span>
    </a>
    <a *ngIf="person.links.facebook"
      target="_blank"
      href="{{ person.links.facebook }}">
      <span class="icon facebook" >
        <img src="/bundles/images/facebook.png" />
      </span>
    </a>
  </div>
</div>

<div mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button (click)="onNoClick()">
    OK
  </button>
</div>
