@import '../colors';

.nlp {
	margin-bottom: 100px;

    .words {
        margin-top: 40px;

	    .textMergedLeft {
            margin-left: -0.26em;
        }

        .textMergedRight {
            margin-right: -0.26em;
        }
    }
}
