@import '../colors';

.nlp {
	margin-bottom: 100px;

	.ner {
		background-color: #ABD1FF;
		margin: 5px;
		border-radius: 5px 5px 5px;	
	}

	.time {
		display: inline-block;
		width: 80px;
		font-size: 0.8em;
		color: @grey;
	}

	.linebreak {
		margin-top: 10px;
	}

	.ner_detail {
		background-color: #FFE0B0;
		margin: 5px;
		border-radius: 5px 5px 5px;	
	}
}
