<h1>New Order</h1>

<div class=inputs>
  <div class=dropzone>
    <mat-form-field>
      <ngx-mat-file-input [(ngModel)]="mp4_file" placeholder="MP4 video file" [accept]="'.mp4'"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
  </div>
  <div class=dropzone>
    <mat-form-field>
      <ngx-mat-file-input [(ngModel)]="ttml_file" placeholder="TTML file" [accept]="'.ttml'"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
</div>


<button
  mat-raised-button
  color="accent"
  (click)="upload()"
  >
  <i class="material-icons">cloud_upload</i>
  Upload
</button>
