<h1>Orders</h1>


<button
  mat-raised-button
  color="accent"
  (click)="newOrder()"
  >
  <i class="material-icons">add</i>
  New Order
</button>

<h2>Workflows</h2>

<div *ngIf="loading" class="loading">
  <span>
    <img src="/bundles/images/media-io.animated.svg" width="50px" height="50px" />
  </span>
  <span class=text>
    Loading ...
  </span>
</div>
<ul *ngIf="workflows && !loading" class="workflows">
  <li *ngIf="workflows.total == 0"
     class="notfound">
    No workflow found.
  </li>
  <li
    *ngFor="let workflow of workflows.data"
    class="workflow"
    >
    <div class="workflow">
      <div *ngIf="workflow" class="info">
        <span class="identifier">#{{ workflow.id }}</span>
        <span class="reference">
          {{workflow.reference}}
        </span>
        <span class="created">
          <label>
            Created at
          </label>
          <span class="date">
            {{workflow.created_at | date: 'd LLL yy'}}
          </span>
          <span class="hour">
            {{workflow.created_at | date: 'H:mm:ss'}}
          </span>
        </span>
        <span class="duration">
          <span *ngIf=getWorkflowDuration(workflow) title="{{duration | duration : 'human'}}">
            Duration: {{ getWorkflowDuration(workflow) | duration : 'timecode_ms' }}
          </span>
        </span>
        <span class="steps-count">
          <span class="label">Steps:</span>
          <span class="count">{{getStepsCount(workflow)}} / {{getTotalSteps(workflow)}}</span>
        </span>
        <span
          class="abort">
          <button
            mat-raised-button
            color="warn"
            [disabled]=!can_abort
            (click)="abort(workflow.id)"
            >
            <mat-icon>cancel</mat-icon>
            Abort
          </button>
        </span>
        <span
          class="delete">
          <button
            mat-raised-button
            color="warn"
            (click)="delete(workflow.id)"
            >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </span>
      </div>
    </div>

    <!-- <workflow-component [workflow]=workflow [detailed]=detailed></workflow-component> -->
  </li>
</ul>
