@import '../colors';

ul.jobs {
  list-style: none;
  padding: 0px;

  li.job {
    padding: 5px 2px;

    .info {
      display: flex;
      font-size: 0.8em;

      span {
        flex: 1;
      }

      .summary {
        width: 100%;
        line-height: 27px;
        border-radius: 4px;
        text-align: center;


        .duration {
          cursor: pointer;
        }
      }

      .details {
        text-align: right;
        .link {
          cursor: pointer;
          color: @blue;
        }
        .link:before {
          content: "[";
        }
        .link:after {
          content: "]";
        }
      }
    }

    .bar {
      height: 5px;
    }

    .description {
      display: none;
      text-align: center;
      font-weight: bold;

      label {
        color: @red;
      }
    }
    .description.error {
      display: block;
    }
  }

  li.completed .bar {
    background-color: @green;
  }
  li.processing .bar {
    background-color: @blue;
  }
  li.skipped .bar {
    background-color: @grey;
  }
  li.error .bar {
    background-color: @red;
  }
}
