<div class=content>
  <div class=logo>
    <span class=home>
      <a class=title routerLink='/'>
        <img src="/bundles/images/SubTil_logo_preview.png" class=subtil_logo>
        <span class=app_name>Backend</span>
      </a>
    </span>
    
    <span class=wrapper>
      <div class="powered">
        Powered by
      </div>
      <label>Media</label>
      <img src="/bundles/images/mediaio_logo.png">
    </span>
  </div>

  <form class="login" (ngSubmit)="login()" #heroForm="ngForm">
    <div>
      <mat-form-field class="search-text-input">
        <input
          matInput
          type="text"
          placeholder="Username"
          name=username
          [(ngModel)]="username"
          >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="search-text-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          name=password
          [(ngModel)]="password"
          >
      </mat-form-field>
    </div>
    <div class="button submit">
      <button
        mat-button
        color="primary"
        type="submit"
        >
        <mat-icon>chevron_right</mat-icon>
        Login
      </button>
    </div>
    <div class=message>
      {{message}}
    </div>

    <div class=id_logo>
      <img src="/bundles/images/logo_id_2018_fushia13_2lignes.png">
    </div>
  </form>
</div>
