<h1>
  Credentials
</h1>
<div class=credentials>
  <div class=credential
    *ngFor="let credential of credentials | keyvalue">

    <mat-form-field class=input>
      <input
        matInput
        type="text"
        placeholder="Key"
        [(ngModel)]="credential.key"
        >
    </mat-form-field>
    <mat-form-field class=input>
      <input
        matInput
        type="password"
        placeholder="Value"
        [(ngModel)]="credential.value"
        >
    </mat-form-field>
    <span class=delete>
      <button
        mat-button
        color="warn"
        (click)="delete(credential.key)"
        >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </span>
  </div>
</div>
