<div class=credential>
  <mat-form-field class=input>
    <input
      matInput
      type="text"
      placeholder="Key"
      disabled
      [(ngModel)]="data.key"
      >
  </mat-form-field>
  <mat-form-field class=input>
    <input
      matInput
      [type]="pwd_type"
      placeholder="Value"
      disabled
      [(ngModel)]="data.value"
      >
  </mat-form-field>
  <span class=mask>
    <button
      *ngIf="pwd_type == 'password'"
      mat-button
      color="primary"
      (click)="mask(true)"
      >
      <mat-icon>visibility</mat-icon>
    </button>
    <button
      *ngIf="pwd_type != 'password'"
      mat-button
      color="primary"
      (click)="mask(false)"
      >
      <mat-icon>visibility_off</mat-icon>
    </button>
  </span>
  <span class=delete>
    <button
      mat-button
      color="warn"
      (click)="delete()"
      >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </span>
</div>