<mat-divider></mat-divider>
<div class="role">
  <span class="name">
    <div>{{ role.name }}</div>
    <div class="identifier">#{{ role.id }}</div>
  </span>

  <span class="rights">
    <div *ngFor="let right of active_rights" class="right">
      <mat-form-field class="scope">
        <input
          type="text"
          matInput
          placeholder="Scope"
          (change)="editRightScope($event, right)"
          [(ngModel)]="right.entity"
          [disabled]="selected_role && selected_role != role.id"
        />
      </mat-form-field>

      <span class="permissions">
        <mat-checkbox
          *ngFor="let permission of permissions"
          class="permission"
          name="{{ permission }}"
          (change)="editRightPermissions($event, right)"
          [checked]="right.action.indexOf(permission) > -1"
          [disabled]="selected_role && selected_role != role.id"
        >
          {{ permission }}
        </mat-checkbox>
      </span>

      <span class="right-actions">
        <button
          mat-mini-fab
          (click)="deleteRight(right)"
          color="warn"
          title="Delete right"
          [disabled]="selected_role && selected_role != role.id"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>

    <div class="new-right">
      <mat-form-field class="scope">
        <input
          type="text"
          matInput
          (change)="editRightScope($event)"
          placeholder="Declare new scope..."
          [disabled]="selected_role && selected_role != role.id"
        />
      </mat-form-field>

      <span class="permissions">
        <mat-checkbox
          *ngFor="let permission of permissions"
          (change)="editRightPermissions($event)"
          name="{{ permission }}"
          [disabled]="!new_right"
          class="permission"
          [disabled]="selected_role && selected_role != role.id"
        >
          {{ permission }}
        </mat-checkbox>
      </span>
    </div>
  </span>

  <span class="role-actions">
    <button
      mat-raised-button
      (click)="updateRole()"
      color="primary"
      title="Update role"
      [disabled]="!is_being_updated"
    >
      <mat-icon>check</mat-icon>
      Update role
    </button>
    <button
      mat-raised-button
      (click)="deleteRole()"
      color="warn"
      title="Delete role"
      [disabled]="selected_role && selected_role != role.id"
    >
      <mat-icon>delete</mat-icon>
      Delete role
    </button>
  </span>
</div>
