<span class=category>
  {{item.name}}
</span>
<span class=player
  (click)="play()">
  <span class=actions>
    <mat-icon *ngIf=!playing class=play>
      play_circle_outline
    </mat-icon>
    <mat-icon *ngIf=playing class=pause>
      pause_circle_outline
    </mat-icon>
  </span>
  <video
    class="videoPlayer"
    >
  </video>
</span>
<span class=languages *ngIf="item.params && item.params.subtitles">
  <span
    (click)=openPlayer(subtitle)
    class=language
    *ngFor="let subtitle of item.params.subtitles">
    {{subtitle.language | language}}
    <mat-icon class=icon>
      edit
    </mat-icon>
  </span>
</span>
