
<h1>
  Vidéos
</h1>

<div class="search-bar">
  <div>
    <mat-form-field class="search-text-input">
      <input
        matInput
        type="text"
        placeholder="Titre"
        [(ngModel)]="searchInput"
        (keydown)="updateVideos()"
        >
        <mat-icon matSuffix
          class=title_button
          *ngIf="searchInput != ''"
          (click)="searchInput = ''" >clear</mat-icon>
    </mat-form-field>
  </div>
  <div class=channels_selector>
    <mat-form-field>
      <mat-select
        class="channels-select"
        placeholder="Chaîne"
        [(ngModel)]="selectedChannels"
        (selectionChange)="updateVideos()"
        multiple
        >
        <mat-option
          *ngFor="let channel of channels"
          [value]="channel.id"
          [ngClass]="channel.id"
          class="channels-option"
          >
          {{ channel.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput
        [max]="dateRange.getEnd()"
        [matDatepicker]="picker_after"
        (dateChange)="setStartDate($event)"
        (ngModelChange)="updateStart()"
        placeholder="Diffusion après le..."
        >
      <mat-datepicker-toggle matSuffix [for]="picker_after"></mat-datepicker-toggle>
      <mat-datepicker #picker_after></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput
        [min]="dateRange.getStart()"
        [matDatepicker]="picker_before"
        (dateChange)="setEndDate($event)"
        (ngModelChange)="updateEnd()"
        placeholder="Diffusion avant le..."
        >
      <mat-datepicker-toggle matSuffix [for]="picker_before"></mat-datepicker-toggle>
      <mat-datepicker #picker_before></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<ul class="videos" [ngClass]="{loading: loading}">
  <li *ngIf="(!videos || videos.total == 0)">Aucun résultat trouvé</li>
  <li
    *ngFor="let video of videos.data"
    class="video {{video.channel}}"
    [ngClass]="{'available': video.available, 'not-available': !video.available}"
    >
    <span class="legacy_id">
      {{video.id}}
    </span>
    <span class="title">
      {{video.title}}
    </span>
    <span class="additional_title">
      {{video.additional_title}}
    </span>
    <span class="date">
      {{video.creation | date: 'd LLL yy'}}
    </span>
    <span class="hour">
      {{video.creation | date: 'H:mm:ss'}}
    </span>
    <span class="jarvis" [ngClass]="{disabled: video.manifest_url == undefined}">
      <a target="_blank" href="http://master.player.build.ftven.net/jarvis/?streams={{get_encoded_uri(video.manifest_url)}}">
        <i class="material-icons">live_tv</i>
      </a>
    </span>
    <span class="tracks audio"
      *ngFor="let track of video.audio_tracks">
      <i class="material-icons">volume_down</i>
      <span>
        {{track.id | audioType}}
      </span>
    </span>
    <span class="tracks text"
      *ngFor="let track of video.text_tracks">
      <i class="material-icons">closed_caption</i>
      <span>
        {{track.id | textType}}
      </span>
    </span>
    <span
      class="workflows_count"
      [ngClass]="{found: video.workflows_count > 0}"
      (click)="redirect_to_workflow_view(video)"
      >
      {{video.workflows_count}}
    </span>
    <span class="starter">
      <button
        mat-raised-button
        color="primary"
        disabled={{!video.available}}
        (click)="start_process(video)"
        >
        <mat-icon>play_arrow</mat-icon>
        Ingest
      </button>
    </span>
  </li>
</ul>

<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageIndex]="page"
  (page)="pageEvent = eventGetVideos($event)">
</mat-paginator>
