
// $fa-font-path: "../fonts";
// @import "font-awesome";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0px;
  font-size: 12px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-toolbar .logo {
  background-color: #fff;

  img {
    height: 80px;
  }
}

.mat-toolbar .spacer {
  flex: 1 1 auto;
}

.docs-component-viewer-sidenav {
  padding-bottom: 72px;
  width: 240px;
  bottom: 0;
  overflow: auto;
  height: 100%;

  ul {
    list-style: none;
    padding: 0;

    li {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      margin: 0;
      padding: 0;
      border-color: rgba(0,0,0,.06);
      color: rgba(0,0,0,.54);
    }
    li>a {
      box-sizing: border-box;
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 47px;
      text-decoration: none;
      transition: all .3s;
      padding: 0 16px;
      position: relative;
      color: rgba(0,0,0,.54);
      text-decoration: none;
    }
    li>a:hover {
      color: #3f51b5;
    }
  }
}

.docs-component-viewer-sidenav, .docs-component-viewer-sidenav.mat-sidenav-opened {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.mat-drawer-content {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  min-height: 100vh;
  padding: 10px;
}

ul.videos {
  list-style: none;
  padding: 0px;

  li.video {
    padding: 10px;
    background-color: #FFF;

    .legacy_id {
      font-size: 0.6em;
      display: inline-block;
      width: 50px;
    }
    .title {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 15px;
      width: 300px;
      white-space: nowrap;
      vertical-align: middle;
    }
  }

  li.video.not-available {
    color: #bbb;
  }

  li.video:before {
    background-image: url("/bundles/images/logo_chaines.jpg");
    content: "";
    width: 13px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
  }

  li.video.france-2:before {
  }
  li.video.france-3:before {
    background-position-x: 60px;
  }
  li.video.france-4:before {
    background-position-x: 44px;
  }
  li.video.france-5:before {
    background-position-x: 28px;
  }
  li.video.france-o:before {
    background-position-x: 13px;
  }
}

.mat-select-content {
  .mat-option-text:before {
    background-image: url("/bundles/images/logo_chaines.jpg");
    content: "";
    width: 13px;
    height: 20px;
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
  }

  .france-3 .mat-option-text:before {
    background-position-x: 60px;
  }

  .france-4 .mat-option-text:before {
    background-position-x: 44px;
  }
  .france-5 .mat-option-text:before {
    background-position-x: 28px;
  }
  .france-o .mat-option-text:before {
    background-position-x: 13px;
  }
}
