<h1>Player</h1>
<div id=player>
  <video
    id="videoPlayer"
    >
  </video>
</div>
<div class=loading
  *ngIf="duration == 0">
  <span>
    <mat-spinner
      diameter=50
      strokeWidth=3
      color="accent">
    </mat-spinner>
  </span>
  <span class=text>
    Loading ...
  </span>
</div>

<div id=timeline>
  <mat-slider
    *ngIf="duration != 0"
    id=timeline
    color="primary"
    min="0"
    [max]=duration
    step="0.001"
    [value]=time
    (change)="onSliderChange($event)"
    >
  </mat-slider>
</div>
<div class="controls"
  *ngIf="duration != 0">
  <div id=help>
    <button
      mat-button
      color="primary"
      (click)="switchHelp()"
      >
      <mat-icon>help_outline</mat-icon>
    </button>
    <button
      class=split
      [ngClass]="{enable: splitAction}"
      mat-button
      color="primary"
      (click)="switchSplit()"
      >
      <mat-icon>call_split</mat-icon>
    </button>
  </div>
  <div id=timecode>
    {{ timecode | duration : 'timecode_frame' }}
  </div>
  <div id=play_pause>
    <button
      mat-button
      color="primary"
      (click)="back2seconds()"
      >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button
      mat-button
      color="primary"
      (click)="playPauseSwitch()"
      >
    <mat-icon *ngIf=!playing>play_circle_outline</mat-icon>
    <mat-icon *ngIf=playing>pause_circle_outline</mat-icon>
    </button>
  </div>
</div>

<div class=subtitles>
  <span class=subtitle>
    <div>
      <mat-form-field>
        <mat-select
          placeholder="Language"
          [(value)]="leftLanguage">
          <mat-option
            *ngFor="let language of languages"
            [value]="language">
            {{language.language | language}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <subtitle-component
      [content_id]=content_id
      [time]=time
      [language]=leftLanguage
      [split]=splitAction
      before=1
      after=1
      [isChangingTimecode]=isChangingTimecode>
    </subtitle-component>
  </span>
  <span class=subtitle>
    <div>
      <mat-form-field>
        <mat-select
          placeholder="Language"
          [(value)]="rightLanguage">
          <mat-option
            *ngFor="let language of languages"
            [value]="language">
            {{language.language | language}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <subtitle-component
      [content_id]=content_id
      [time]=time
      [language]=rightLanguage
      [split]=splitAction
      before=1
      after=1
      [isChangingTimecode]=isChangingTimecode>
    </subtitle-component>
  </span>
</div>

<div class=help *ngIf=showHelp>
  <h2>Help</h2>

  <div class=item>
    <span class=command>
      <label>Home</label>
    </span>
    <span>Go to the start of the video.</span>
  </div>
  <div class=item>
    <span class=command>
      <label>End</label>
    </span>
    <span>Go to the end of the video.</span>
  </div>
  <div class=item>
    <span class=command>
      <label>Ctrl + R</label>
    </span>
    <span>Rewind 2 seconds and playing.</span>
  </div>
  <div class=item>
    <span class=command>
      <label>Ctrl + C</label>
    </span>
    <span>Enable/disable split cue with mouse.</span>
  </div>
  <div class=item>
    <span class=command>
      <label>Ctrl + H</label>
    </span>
    <span>Show/hide this help.</span>
  </div>
  <div class=item>
    <span class=command>
      <label>Ctrl + Space bar</label>
    </span>
    <span>Play/pause control.</span>
  </div>
  <div class=item>
    <span class=command>
      <label>Space bar</label>
    </span>
    <span>Play/pause control if not in editing mode.</span>
  </div>
</div>