@import '../colors';

#player,
.subtitles {
	text-align: center;
}

#timeline,
.controls,
.loading {
	margin: auto;
}

#videoPlayer {
	width: 500px;
}

.help {
	display: inline-block;
	padding-left: 20px;
	vertical-align: top;

	.item {
		margin-bottom: 5px;
	}

	h2 {
		margin-top: 0px;
	}

	.command {
		display: inline-block;
		width: 100px;
	}

	label {
		display: inline-block;
		background-color: @lightGrey;
		border: 1px solid @grey;
		border-radius: 4px;
		padding: 3px;
		min-width: 40px;
	}
}

.loading {
	text-align: center;
	padding-top: 20px;
	width: 500px;

	span {
		display: inline-block;
		vertical-align: middle;
	}
	span.text {
		font-size: 2em;
		font-weight: bold;
		padding-left: 15px;
	}
}


.controls {
	width: 500px;
	display: flex;
	margin-bottom: 30px;

	#timecode {
		flex: 1;
		height: 38px;
		font-size: 2em;
		text-align: center;
		background-color: @blue;
		color: #fff;
		margin-bottom: 10px;
		line-height: 38px;
	}

	#help,
	#play_pause {
		display: inline-block;
		border: 1px solid @blue;
		height: 36px;

		button {
			min-width: 40px;
			margin: 0;
			padding: 0;
			margin-left: 0px !important;
		}
	}

	#help {
		width: 40px;
		button {
			color: @white;
			background-color: @blue;
			border-radius: 0px;
		}
	}

	#play_pause {
		width: 80px;
	}
}

#timeline {
	width: 500px;
	.mat-slider-thumb {
		color: #F00 !important;
	}
}

.subtitles {
	.subtitle {
		display: inline-block;
		width: 500px;
		vertical-align: top;

		div {
			text-align: center;
		}
	}

	.subtitle:nth-child(1n+2) {
		margin-left: 50px
	}
}
