<div class=loading
  *ngIf="!loaded">
  <span>
    <mat-spinner
      diameter=50
      strokeWidth=3
      color="accent">
    </mat-spinner>
  </span>
  <span class=text>
    Loading ...
  </span>
</div>
<div>
  <button
    mat-raised-button
    color="primary"
    (click)="addCue()"
    >
    <mat-icon>add</mat-icon>
    Add Cue
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!canSave"
    (click)="save()"
    >
    <mat-icon>save</mat-icon>
    Save
  </button>
</div>
<div class=subtitle
  *ngIf="loaded">
  <div *ngFor="let i of (before - beforeCues.length) | numberToArray" class=hiddenCue>
  </div>
  <div *ngFor="let cue of beforeCues"
    id=before
    class="cue"
    [ngClass]="{disabled: split}">
    <div class=head>
      <mat-icon
        class=play
        (click)=playCue(cue)>
        play_circle_outline
      </mat-icon>
      <div class=times>
        <timecode-component
          [time]="cue.start"
          [isChangingTimecode]=isChangingTimecode
          (timeChange)="startTimeChange($event, cue)">
        </timecode-component>
        <span>
          <i class="material-icons">
            arrow_right_alt
          </i>
        </span>
        <timecode-component
          [time]="cue.end"
          [isChangingTimecode]=isChangingTimecode
          (timeChange)="endTimeChange($event, cue)">
        </timecode-component>
      </div>
    </div>
    <mat-form-field class="textcontent">
      <textarea
        rows=8
        matInput
        type="text"
        (focus)="focus()"
        (focusout)="focusOut()"
        [(ngModel)]="cue.content"
        >
      </textarea>
    </mat-form-field>
    <button
      mat-button
      class=merge
      color="primary"
      (click)="merge(cue)"
      >
      <mat-icon>call_merge</mat-icon> Merge
    </button>
  </div>

  <div *ngIf="!currentCue" class=hiddenCue>
  </div>
  <div *ngIf="currentCue" class="cue current">
    <div class=head>
      <mat-icon
        class=play
        (click)=playCue(currentCue)>
        play_circle_outline
      </mat-icon>
      <div class=times>
        <timecode-component
          [time]="currentCue.start"
          (timeChange)="startTimeChange($event, currentCue)">
        </timecode-component>
        <span>
          <i class="material-icons">
            arrow_right_alt
          </i>
        </span>
        <timecode-component
          [time]="currentCue.end"
          (timeChange)="endTimeChange($event, currentCue)">
        </timecode-component>
      </div>
    </div>
    <mat-form-field class="textcontent">
      <textarea
        rows=8
        matInput
        type="text"
        (focus)="focus()"
        (focusout)="focusOut()"
        (click)="cutSubtitle($event)"
        [ngClass]="{split: split}"
        [(ngModel)]="currentCue.content"
        >
      </textarea>
    </mat-form-field>
    <button
      mat-button
      class=merge
      color="primary"
      (click)="merge(currentCue)"
      >
      <mat-icon>call_merge</mat-icon> Merge
    </button>
  </div>

  <div *ngFor="let i of (after - afterCues.length) | numberToArray" class=hiddenCue>
  </div>
  <div *ngFor="let cue of afterCues"
    id=after
    class="cue"
    [ngClass]="{disabled: split}">
    <div class=head>
      <mat-icon
        class=play
        (click)=playCue(cue)>
        play_circle_outline
      </mat-icon>
      <div class=times>
        <timecode-component
          [time]="cue.start"
          (timeChange)="startTimeChange($event, cue)">
        </timecode-component>
        <span>
          <i class="material-icons">
            arrow_right_alt
          </i>
        </span>
        <timecode-component
          [time]="cue.end"
          (timeChange)="endTimeChange($event, cue)">
        </timecode-component>
      </div>
    </div>
    <mat-form-field class="textcontent">
      <textarea
        rows=8
        matInput
        type="text"
        (focus)="focus()"
        (focusout)="focusOut()"
        [(ngModel)]="cue.content"
        >
      </textarea>
    </mat-form-field>
  </div>
</div>
