
.subtitle {
	display: inline-block;
	text-align: center;
	width: 500px;
	min-height: 30px;
	margin-bottom: 3px;
}

.textcontent {
	width: 500px;
}

.times {
	font-family: monospace;
	timecode-component {
		display: inline-block;
		line-height: 26px;
		vertical-align: top;
	}
}

button.merge mat-icon {
	transform: rotate(90deg);
}

textarea.split:hover {
	cursor: col-resize;
}