@import '../colors';

#before.disabled,
#after.disabled {
	.times,
	.textcontent {
		opacity: 0.6;
	}
}

.cue.current {
	.head,
	.textcontent {
		background-color: rgba(64, 111, 179, 0.16);
		padding: 5px;
	}
}

.cue,
.hiddenCue {
	height: 210px;
}

.subtitle {
	display: inline-block;
	text-align: center;
	width: 500px;
	min-height: 30px;
	margin-bottom: 3px;
}

.textcontent {
	width: 490px;
}

.head {
	display: flex;

	.times {
		flex: 1;
		font-family: monospace;
		timecode-component {
			display: inline-block;
			line-height: 26px;
			vertical-align: top;
		}
	}
	.play {
		color: @grey;
	}
	.play:hover {
		color: @blue;
		cursor: pointer;
	}
}

button.merge mat-icon {
	transform: rotate(90deg);
}

textarea.split:hover {
	cursor: col-resize;
}