<div class="workflow"
  *ngIf="workflow"
  >

  <h1>
    Workflows #{{ workflow.id }}
  </h1>

  <div class="info">
    <span class="reference">
      <span>Reference ID:</span>
      <span class="reference-link"
        (click)="goToVideo(workflow.reference)">
        {{workflow.reference}}
      </span>
    </span>
    <span class="duration">
      <duration-component [workflow]=workflow></duration-component>
    </span>
    <span class="steps-count">Steps: {{ getStepsCount() }}</span>
  </div>

  <div
    class="line"
    *ngFor="let line of graph"
    >
    <span *ngFor="let step of line"
      class="step"
      [ngStyle]="{flex: getStepWeight(step)}"
      >
      <workflow-step-details-component [step]=step workflowId={{workflow.id}}></workflow-step-details-component>
    </span>
  </div>
</div>
