<span
  class="step"
  *ngIf="step.name"
  title="{{step.name | jobType}}"
  >

  <div class="header">
    <span class="expander">
      <i class="material-icons open"
        *ngIf="!details_opened"
        (click)="toggleStepDetails()"
        title="Show jobs"
        >expand_more</i>

      <i class="material-icons close"
        *ngIf="details_opened"
        (click)="toggleStepDetails()"
        title="Hide jobs"
        >expand_less</i>
    </span>

    <div class="header-content">
      <div class="info">
        <mat-icon class="icon" >{{ step.name | iconForJob }}</mat-icon>
        <span class="name">{{ step.name | jobType }}</span>
        <span class="jobs-count">{{ step.jobs.completed + step.jobs.errors }}/{{ step.jobs.total }}</span>
      </div>

      <div class="progress">
        <span
          class="skipped"
          title="{{step.name | jobType}}: skipped"
          *ngIf="step.jobs.skipped > 0"
          [ngStyle]="{'flex': step.jobs.skipped}">
        </span>
        <span
          class="completed"
          title="{{step.name | jobType}}: completed"
          *ngIf="step.jobs.completed > 0"
          [ngStyle]="{'flex': step.jobs.completed}">
        </span>
        <span
          class="error"
          title="{{step.name | jobType}}: error"
          *ngIf="step.jobs.errors > 0"
          [ngStyle]="{'flex': step.jobs.errors}">
        </span>
        <span
          class="queued"
          title="{{step.name | jobType}}: queued"
          *ngIf="step.jobs.queued > 0"
          [ngStyle]="{'flex': step.jobs.queued}">
        </span>
      </div>
    </div>
  </div>

  <div class="details"
    *ngIf=details_opened
    >
    <div class="parameters" *ngIf="step.parameters && step.parameters.length > 0">
      <h4>
        Parameters
      </h4>
      <parameters-component [parameters]=step.parameters></parameters-component>
    </div>
    <div class="jobs">
      <h4>
        Jobs
      </h4>
      <jobs-component jobType={{step.name}} workflowId={{workflowId}}></jobs-component>
    </div>
  </div>

</span>
