<div class="workflow"
  *ngIf="workflow"
  >

  <h1>
    Workflow {{workflow.identifier}} #{{ workflow.id }}
  </h1>

  <div class="info">
    <span class="reference">
      <div class="item">
        <label>Reference:</label>
        <video-title-component [id]=workflow.reference></video-title-component>
      </div>
      <div class="item">
        <label>Workflow version:</label>
        <span>
          {{workflow.version_major}}.{{workflow.version_minor}}.{{workflow.version_micro}}
        </span>
      </div>
      <div class="item">
        <label>Workflow mode:</label>
        <span>
          {{workflow.is_live ? 'Live' : 'File'}}
        </span>
      </div>
      <div class="item">
        <label>Workflow tags:</label>
        <mat-chip-list>
          <mat-chip
            *ngFor="let tag of workflow.tags"
            color="primary" selected>
            {{tag}}
          </mat-chip>
        </mat-chip-list>
      </div>
      <div class="parameters">
        <span class="expander">
          <i class="material-icons open"
            [ngClass]="{disabled: disabled}"
            *ngIf="!parameters_opened"
            (click)="toggleParameters()"
            title="Show parameters"
            >expand_more</i>

          <i class="material-icons close"
            [ngClass]="{disabled: disabled}"
            *ngIf="parameters_opened"
            (click)="toggleParameters()"
            title="Hide parameters"
            >expand_less</i>
        </span>
        <label>Parameters:</label>
        <div *ngIf=parameters_opened>
          <span *ngFor="let parameter of workflow.parameters">
            <div class=parameter *ngIf="parameter.id != 'message'">
              <label>
                {{parameter.id}}
              </label>
              <span>
                {{parameter.value | json}}
              </span>
            </div>
          </span>
        </div>
      </div>
    </span>
    <span class="duration">
      <duration-component [workflow]=workflow></duration-component>
    </span>
    <span class="steps-count">
      <span class="label">Steps:</span>
      <span class="count">{{getStepsCount()}} / {{getTotalSteps()}}</span>
    </span>
    <span
      class="abort">
      <button
        mat-raised-button
        color="warn"
        [disabled]=!can_abort
        (click)="abort(workflow.id)"
        *ngIf="right_abort"
        >
        <mat-icon>cancel</mat-icon>
        Abort
      </button>
    </span>
  </div>

  <div
    class="line"
    *ngFor="let line of renderer.graph"
    >
    <span *ngFor="let step of line"
      class="step"
      [ngStyle]="{flex: renderer.getStepWeight(step)}"
      >
      <workflow-step-details-component
        [step]=step
        workflowId={{workflow.id}}>
      </workflow-step-details-component>
    </span>
  </div>
</div>
