<h1 mat-dialog-title>Process video</h1>
<div mat-dialog-content>

  <mat-tab-group
    [(selectedIndex)]=selected_tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">format_align_left</mat-icon>
        Ingest RDF
      </ng-template>
      <workflow-renderer-component
        [steps]=rdf_steps>
      </workflow-renderer-component>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">movie_filter</mat-icon>
        Ingest DASH
      </ng-template>
      <workflow-renderer-component
        [steps]=dash_steps>
      </workflow-renderer-component>
    </mat-tab>
  </mat-tab-group>

  <div mat-dialog-actions>
    <button
      mat-button
      (click)="onNoClick()">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onClose()"
      cdkFocusInitial>
      Start
    </button>
  </div>
</div>
