<h1 mat-dialog-title>Workflow configuration</h1>
<div mat-dialog-content>
  <div
    class="line"
    *ngFor="let line of graph"
    >
    <span *ngFor="let step of line"
      class="step"
      [ngStyle]="{flex: getStepWeight(step)}"
      >
      <span
        *ngIf="step.name"
        [ngClass]="{disabled: !step.enable}"
        title="{{step.name | jobType}}"
        >
        <mat-checkbox class='small'
          color="primary"
          [(ngModel)]="step.enable"
          (change)="updateEnabledSteps(step)"
          [disabled]=!active_steps[step.name]
          ></mat-checkbox>

        <mat-icon>{{step.name | iconForJob}}</mat-icon>
        {{step.name | jobType}}

        <mat-list dense>
          <mat-list-item
            *ngFor="let parameter of step.parameters">
            <mat-form-field class="parameter">
              <input matInput
                type={{parameter.type}}
                placeholder="{{parameter.id | parameterLabel}}"
                value={{parameter.value}}
                [(ngModel)]=parameter.value
                (change)=toNumber(parameter)>
            </mat-form-field>
          </mat-list-item>
        </mat-list>
      </span>
      <mat-divider *ngIf="step.name"></mat-divider>
    </span>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onClose()" cdkFocusInitial>Start</button>
</div>
