<h1 mat-dialog-title class="creds">Delete user</h1>

<div mat-dialog-content class="confirm">
  <div>
    <span>
      <mat-icon color="warn">warning</mat-icon>
    </span>
    <span>
      Are you sure you want to delete user {{ user.first_name }}
      {{ user.last_name }}?</span
    >
  </div>
</div>

<div mat-dialog-actions align="end">
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    color="primary"
    cdkFocusInitial
  >
    <mat-icon>check</mat-icon>
    Yes
  </button>
  <button mat-raised-button [mat-dialog-close]="false" color="primary">
    <mat-icon>cancel</mat-icon>
    No
  </button>
</div>
