<h1 mat-dialog-title *ngIf="user" class="creds">User Edition</h1>

<div mat-dialog-content class="confirm">
  <div>
    Edit user <i>{{ user.username }}</i> :
    <span>
      <div class="form">
        <mat-form-field class="first-name-input">
          <input
            matInput
            type="text"
            placeholder="New First Name"
            [(ngModel)]="new_first_name"
          />
        </mat-form-field>
      </div>
    </span>
    <span>
      <div class="form">
        <mat-form-field class="last-name-input">
          <input
            matInput
            type="text"
            placeholder="New Last Name"
            [(ngModel)]="new_last_name"
          />
        </mat-form-field>
      </div>
    </span>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()" color="error" cdkFocusInitial>
    <mat-icon>close</mat-icon>
    Cancel
  </button>
  <button
    mat-raised-button
    (click)="onValidation()"
    color="primary"
    cdkFocusInitial
  >
    <mat-icon>check</mat-icon>
  </button>
</div>
