<h1 mat-dialog-title *ngIf="user" class="creds">Change User Password</h1>

<div mat-dialog-content class="confirm">
  <div>
    Change password of <i>{{ user.username }}</i> :
    <span>
      <div class="form">
        <mat-form-field appearance="fill" class="password">
          <mat-label>Enter new password</mat-label>
          <input
            matInput
            [minlength]="8"
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="password ? password.length < 8 : false"
            >Password must be at least 8 chars long!</mat-error
          >
        </mat-form-field>
      </div>
    </span>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()" color="error" cdkFocusInitial>
    <mat-icon>close</mat-icon>
    Cancel
  </button>
  <button
    mat-raised-button
    (click)="onValidation()"
    color="primary"
    [disabled]="password ? password.length < 8 : true"
    cdkFocusInitial
  >
    <mat-icon>check</mat-icon>
  </button>
</div>
