<h1 mat-dialog-title *ngIf="user" class="creds">
  Credentials creation for user {{ user.email }}
</h1>

<div mat-dialog-content class="confirm">
  <div>
    <span>
      <mat-icon color="warn">warning</mat-icon>
    </span>
    <span>
      Save these credentials somewhere as they will not be communicated again.
    </span>
    <div>
      <div>
        <span>
          <mat-icon color="primary">key</mat-icon>
        </span>
        <span>Access Key ID: {{ user.access_key_id }}</span>
      </div>
      <div>
        <span>
          <mat-icon color="primary">key</mat-icon>
        </span>
        <span>Secret Access Key: </span>
        <button
          mat-raised-button
          [cdkCopyToClipboard]="CopySecretKey()"
          color="primary"
        >
          <mat-icon>key</mat-icon>Copy
        </button>
      </div>
    </div>

    <div mat-dialog-actions align="end">
      <button
        mat-raised-button
        (click)="onClose()"
        color="primary"
        cdkFocusInitial
      >
        <mat-icon>check</mat-icon>
        Close
      </button>
    </div>
  </div>
</div>
