<h1 mat-dialog-title *ngIf="user" class="creds">Change User Password</h1>

<div mat-dialog-content class="confirm">
  <div>
    Change password of <i>{{ user.username }}</i> :
    <span>
      <div class="form">
        <app-password #password [check_validity]="true"></app-password>
      </div>
    </span>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()" color="error" cdkFocusInitial>
    <mat-icon>close</mat-icon>
    Cancel
  </button>
  <button
    mat-raised-button
    (click)="onValidation()"
    color="primary"
    cdkFocusInitial
  >
    <mat-icon>check</mat-icon>
  </button>
</div>
