<h1 mat-dialog-title>Add user</h1>

<div mat-dialog-content class="confirm">
  <div>
    <span>
      <div class="form">
        <mat-form-field>
          <mat-label>Enter your first name</mat-label>
          <input
            matInput
            placeholder="Firt name"
            [formControl]="first_name"
            required
          />
          <mat-error *ngIf="first_name.invalid">{{
            getEmptyMessage(first_name)
          }}</mat-error>
        </mat-form-field>
      </div>
    </span>
    <span>
      <div class="form">
        <mat-form-field>
          <mat-label>Enter your last name</mat-label>
          <input
            matInput
            placeholder="Last name"
            [formControl]="last_name"
            required
          />
          <mat-error *ngIf="last_name.invalid">{{
            getEmptyMessage(last_name)
          }}</mat-error>
        </mat-form-field>
      </div>
    </span>
    <span>
      <div class="form">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="mail@example.com"
            [formControl]="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>
    </span>
    <div *ngIf="user_error_message" class="error-message">
      {{ user_error_message }}
    </div>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onClose()" color="error" cdkFocusInitial>
    <mat-icon>close</mat-icon>
    Cancel
  </button>
  <button
    mat-raised-button
    (click)="onValidation()"
    color="primary"
    cdkFocusInitial
  >
    <mat-icon>check</mat-icon>
  </button>
</div>
