<h1
  mat-dialog-title>
  Add new node
</h1>

<div mat-dialog-content
  class="configuration">
  <div class="linked">
    <span *ngIf="connected == undefined">
      <mat-icon
        class=disabled>
        link
      </mat-icon>
      <label>
        Unknown link state
      </label>
    </span>
    <span *ngIf="connected == true">
      <mat-icon
        class=good_link>
        link
      </mat-icon>
      <label>
        Connected
      </label>
    </span>
    <span *ngIf="connected == false">
      <mat-icon
        class=bad_link>
        link_off
      </mat-icon>
      <label>
        Bad configuration
      </label>
    </span>
  </div>
  <div>
    <mat-form-field class="search-text-input">
      <input
        matInput
        placeholder="Label"
        [(ngModel)]="node.label"
        >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="search-text-input">
      <input
        matInput
        placeholder="Hostname"
        [(ngModel)]="node.hostname"
        >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="search-text-input">
      <input
        matInput
        type=number
        placeholder="Port"
        [(ngModel)]="node.port"
        >
    </mat-form-field>
  </div>
  <div>
    <mat-slide-toggle
        color="primary"
        [(ngModel)]="node.ssl_enabled">
      Enable SSL
    </mat-slide-toggle>
  </div>
  <div *ngIf="node.ssl_enabled">
    <mat-form-field class="search-text-input">
      <input
        matInput
        placeholder="Certificate Authority file"
        [(ngModel)]="node.cacertfile"
        >
    </mat-form-field>
  </div>
  <div *ngIf="node.ssl_enabled">
    <mat-form-field class="search-text-input">
      <input
        matInput
        placeholder="Certificate file"
        [(ngModel)]="node.certfile"
        >
    </mat-form-field>
  </div>
  <div *ngIf="node.ssl_enabled">
    <mat-form-field class="search-text-input">
      <input
        matInput
        placeholder="Key file"
        [(ngModel)]="node.keyfile"
        >
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    <mat-icon>clear</mat-icon>
    Cancel
  </button>
  <button
    mat-raised-button
    (click)="testConnection()"
    color="primary"
    cdkFocusInitial>
    <mat-icon>link</mat-icon>
    Test Connection
  </button>
  <button
    mat-raised-button
    (click)="onClose()"
    color="accent"
    [disabled]="!connected"
    cdkFocusInitial>
    <mat-icon>playlist_add</mat-icon>
    Add node
  </button>
</div>
