<div *ngIf="parameters && parameters.length > 0">
  <mat-divider ></mat-divider>

  <span
    class="param-header"
    (click)="toggleParameters()">
    <span>
      <i class="material-icons"
        *ngIf="!opened"
        >expand_more</i>
      <i class="material-icons"
        *ngIf="opened"
        >expand_less</i>
    </span>
    <span>Parameters</span>
  </span>

  <div class=parameters
    *ngIf="opened">
    <mat-list dense>
      <mat-list-item
        *ngFor="let parameter of parameters">
        <mat-form-field class="parameter">
          <input matInput
            type={{parameter.type}}
            placeholder="{{parameter.id | parameterLabel}}"
            value={{parameter.value}}
            disabled="true"
            [(ngModel)]="parameter.value">
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </div>
</div>
