<div class="workflow">
  <div *ngIf="workflow" class="info">
    <span class="identifier">#{{ workflow.id }}</span>
    <span class="reference">
      <span>Reference ID:</span>
      <span class="link"
        (click)="gotoVideo(workflow.reference)">
        {{workflow.reference}}
      </span>
    </span>
    <span class="duration">
      <duration-component [workflow]=workflow></duration-component>
    </span>
    <span class="steps-count">
      <span class="label">Steps:</span>
      <span class="count">{{getStepsCount()}} / {{getTotalSteps()}}</span>
    </span>
    <span class="details">
      <button
        mat-raised-button
        color="primary"
        (click)="goToDetails(workflow.id)"
        >
        <mat-icon>visibility</mat-icon>
        Details
      </button>
    </span>
    <span
      class="abort">
      <button
        mat-raised-button
        color="warn"
        [disabled]=!can_abort
        (click)="abort(workflow.id)"
        >
        <mat-icon>cancel</mat-icon>
        Abort
      </button>
    </span>
  </div>
  <div *ngIf="workflow" class=steps>
    <div
      *ngFor="let step of workflow.flow.steps"
      class="step {{step.name}} {{step.status}}">
      <step-progress-bar-component [step]=step></step-progress-bar-component>
    </div>
  </div>
</div>
