
ul {
  list-style: none;
}

.workflow {
  padding: 5px;
}

.workflow:nth-child(2n) {
  background-color: #eee;
}

.reference:before {
  content: "Reference ID:"
}

.reference a:link,
.reference a:visited {
  color: #3965ac;
  text-decoration: none;
}

.steps {
  display: flex !important;
}

.step {
  flex: 1;
  .content {
    
    display: flex;
    flex-direction: column;
    height: 100%;

    .details {
      flex: 1;
    }
    .progress {
      align-content: flex-end;
      display: flex;
      height: 12px;
      background-color: #ddd;
      text-align: center;
      color: #fff;
      line-height: 12px;
      font-size: 10px;

      .completed {
        background-color: #71bd2c;
      }
      .queued {
        background-color: #3965ac;
      }
      .error {
        background-color: #db280f;
      }
    }
  }
}
