<h1>
  Workflows
</h1>

<div class=search>
  <mat-form-field>
    <mat-select
      class="status-select"
      placeholder="Status"
      [(ngModel)]="selectedStatus"
      (selectionChange)="updateSearchStatus()"
      multiple
      >
      <mat-option
        *ngFor="let state of status"
        [value]="state.id"
        [ngClass]="state.id"
        class="state-option"
        >
        {{ state.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select
      class="status-select"
      placeholder="Workflows"
      [(ngModel)]="selectedWorkflows"
      (selectionChange)="updateSearchWorkflows()"
      multiple
      >
      <mat-option
        *ngFor="let workflow_id of workflow_ids"
        [value]="workflow_id.id"
        [ngClass]="workflow_id.id"
        class="workflow-option"
        >
        {{ workflow_id.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle
    color="primary"
    [checked]="detailed"
    [(ngModel)]="detailed"
    (change)="updateSearchStatus()">
    Detailed all
  </mat-slide-toggle>
</div>

<div *ngIf="loading" class="loading">
  <span>
    <img src="/bundles/images/media-io.animated.svg" width="50px" height="50px" />
  </span>
  <span class=text>
    Loading ...
  </span>
</div>
<ul *ngIf="workflows && !loading" class="workflows">
  <li *ngIf="workflows.total == 0"
     class="notfound">
    No workflow found.
  </li>
  <li
    *ngFor="let workflow of workflows.data"
    class="workflow"
    >
    <workflow-component [workflow]=workflow [detailed]=detailed></workflow-component>
  </li>
</ul>

<mat-paginator
  class=paginator
  showFirstLastButtons=true
  [length]="length"
  [pageSize]="pageSize"
  [pageIndex]="page"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = eventGetWorkflows($event)"
  *ngIf="workflows && !loading" >
</mat-paginator>
