
.workflow {
  display: inline-flex;
}

i {
  cursor: pointer;
  padding-top: 50px;
}

.info {
  padding: 10px;
}

.reference {
  cursor: pointer;
  color: #3965ac;
}

.steps {
  display: table !important;
  width: 100%;
  table-layout: fixed;
}

.step {
  display: table-cell;
  .content {
    
    display: flex;
    flex-direction: column;
    height: 100%;

    .details {
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .progress {
      align-content: flex-end;
      display: flex;
      height: 24px;
      background-color: #ddd;

      border-style: solid;
      border-width: 1px;
      border-color: #fff;
      text-align: center;

      span {
        color: #fff;
        line-height: 24px;
        font-size: 10px;
      }

      .skipped {
        background-color: #696f74;
      }
      .completed {
        background-color: #71bd2c;
      }
      .queued {
        background-color: #3965ac;
      }
      .error {
        background-color: #db280f;
      }
    }
  }
}
