<h1>
  Workflows
</h1>

<div class=search>
    <mat-form-field>
      <mat-select
        class="status-select"
        placeholder="Status"
        [(ngModel)]="selectedStatus"
        (selectionChange)="updateSearchStatus()"
        multiple
        >
        <mat-option
          *ngFor="let state of status"
          [value]="state.id"
          [ngClass]="state.id"
          class="state-option"
          >
          {{ state.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>

<ul *ngIf="workflows" class="workflows">
  <li *ngIf="workflows.total == 0"
     class="notfound">
    No workflow found.
  </li>
  <li
    *ngFor="let workflow of workflows.data"
    class="workflow"
    >
    <workflow-component [workflow]=workflow></workflow-component>
  </li>
</ul>

<mat-paginator
  class=paginator
  showFirstLastButtons=true
  [length]="length"
  [pageSize]="pageSize"
  [pageIndex]="page"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = eventGetWorkflows($event)">
</mat-paginator>
