<h2 color="primary">Insert new Notification Template</h2>
<div class="add">
  <mat-form-field class="input">
    <input
      matInput
      type="text"
      placeholder="Name"
      [(ngModel)]="notification_template.template_name"
    />
  </mat-form-field>
  <span class="action">
    <button
      mat-raised-button
      [disabled]="selected_notification_template_id"
      color="primary"
      (click)="openJsonEditor(undefined, 'headers')"
    >
      Add Headers
    </button>
  </span>
  <span class="action">
    <button
      mat-raised-button
      [disabled]="selected_notification_template_id"
      color="primary"
      (click)="openJsonEditor(undefined, 'body')"
    >
      Add Body
    </button>
  </span>
  <span class="action">
    <button
      mat-raised-button
      [disabled]="selected_notification_template_id"
      color="primary"
      (click)="insert()"
    >
      <mat-icon>add</mat-icon>
      Add
    </button>
  </span>
</div>
<div class="notificationTemplates">
  <div
    class="notificationTemplate"
    *ngFor="let notificationTemplate of notificationTemplates"
  >
    <notification_template-component
      [data]="notificationTemplate"
      (deleted)="listNotificationTemplates()"
      (notificationTemplateChange)="notificationTemplateHasChanged($event)"
      (saveNotificationTemplate)="
        notificationTemplateHasBeenSaved(NotificationTemplate)
      "
      (selectNotificationTemplate)="
        notificationTemplateHasBeenSelected(NotificationTemplate)
      "
      [selected_notification_template]="selected_notification_template_id"
    >
    </notification_template-component>
    <span class="action">
      <button
        mat-raised-button
        *ngIf="
          selected_notification_template_id &&
          selected_notification_template_id == notificationTemplate.id
        "
        color="primary"
        (click)="openJsonEditor(notificationTemplate, 'headers')"
      >
        Edit Headers
      </button>
    </span>
    <span class="action">
      <button
        mat-raised-button
        *ngIf="
          selected_notification_template_id &&
          selected_notification_template_id == notificationTemplate.id
        "
        color="primary"
        (click)="openJsonEditor(notificationTemplate, 'body')"
      >
        Edit Body
      </button>
    </span>
  </div>
</div>
