@import '../colors';

.header {
  font-weight: bold;
}

.name {
  display: inline-block;
  width: 260px;
  padding: 3px;
}

.messages {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.messages.empty {
  color: @grey;
}

.consumers {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.consumers.none {
  color: @red;
}
