<mat-form-field class="search-text-input pwd-input">
  <mat-label>Password</mat-label>
  <input
    matInput
    type="password"
    placeholder="Password"
    name="password"
    [(ngModel)]="password"
    [type]="hide ? 'password' : 'text'"
    required
  />
  <mat-hint class="mat-error invalid-pwd-message" *ngIf="error">
    Invalid password
  </mat-hint>
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
</mat-form-field>
