<div class="container">
  <main role="main">
    <mat-toolbar class="mat-toolbar mat-primary mat-toolbar-multiple-rows">
      <mat-toolbar-row class="mat-toolbar-row">
        <button
          mat-icon-button (click)="switchMenu()"
          class="icon_menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span>
          <a class=title routerLink='/'>
            Subtil Backend
          </a>
        </span>
        <span class=spacer>
        </span>
        <span class=logo>
          <img src="/bundles/images/logo_id_2018_fushia13_2lignes.png">
        </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="docs-component-viewer-sidenav-container mat-drawer-container mat-sidenav-container">
      <mat-sidenav mode="side" opened="{{menu_opened}}"
        class="docs-component-viewer-sidenav mat-drawer mat-sidenav ng-tns-c13-1 ng-trigger ng-trigger-transform mat-drawer-side ng-star-inserted">
        <ul>
          <li class="ng-star-inserted">
            <a routerLink='/videos'>
              Vidéos
            </a>
          </li>
          <li class="ng-star-inserted">
            <a routerLink='/jobs'>
              Jobs
            </a>
          </li>
          <li class="ng-star-inserted">
            <a routerLink='/workflows'>
              Workflows
            </a>
          </li>
          <li class="ng-star-inserted">
            <a routerLink='/workers'>
              Workers
            </a>
          </li>
        </ul>
      </mat-sidenav>
      <mat-sidenav-content
        class="mat-drawer-content mat-sidenav-content ng-star-inserted" style="margin-left: 240px; margin-right: 0px; padding: 0 10px;">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
</div>