<div class="container"
  [ngClass]="{logout: !loggedIn}">
  <main role="main">
    <mat-toolbar class="mat-toolbar mat-primary mat-toolbar-multiple-rows"
    [ngClass]="{logout: !loggedIn}">
      <mat-toolbar-row class="mat-toolbar-row">
        <span class=home>
          <a class=title routerLink='/'
            *ngIf=application>
            <img src="{{application.logo}}" class=app_logo>
          </a>
        </span>
        <span class=spacer>
        </span>
        <span (click)="openRightPanel()"
          *ngIf=loggedIn
          class="user_settings">
          <i style="color: white;">{{username}}</i>
          &nbsp;<i class="material-icons" style="font-size:35px; color: white;">account_circle</i>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container (backdropClick)="openRightPanel()" class="example-container">
      <mat-sidenav mode="side" opened="true" *ngIf="menu_opened && loggedIn"
        class="docs-component-viewer-sidenav mat-drawer mat-sidenav ng-tns-c13-1 ng-trigger ng-trigger-transform mat-drawer-side ng-star-inserted">
        <ul>
          <a mat-list-item
            *ngFor="let item of left_menu"
              routerLink='{{item.link}}'>
            <li class="ng-star-inserted" routerLinkActive="active-list-item">
              <mat-icon vertical-align:middle>{{item.icon}}</mat-icon>
              &nbsp;{{item.label}}
            </li>
          </a>
        </ul>
        <ul>
          <a mat-list-item
              routerLink='/help'
              class="help">
              <li class="ng-star-inserted" routerLinkActive="active-list-item">
                <mat-icon>help_outline</mat-icon>
                &nbsp;Help
              </li>
          </a>
        </ul>
        <div class="bottom-stick">
          <button
            mat-icon-button (click)="switchMenu()"
            class="menu-button"
            *ngIf=loggedIn>
            <mat-icon style="font-size:35px;">keyboard_double_arrow_right
</mat-icon>
          </button>
        </div>
        </mat-sidenav>
        <mat-sidenav mode="side" opened="true" *ngIf="!menu_opened && loggedIn" [@.disabled]="true"
          class="docs-component-viewer-sidenav-small mat-drawer mat-sidenav ng-tns-c13-1 ng-trigger ng-trigger-transform mat-drawer-side ng-star-inserted">
        <ul>
          <a mat-list-item
            *ngFor="let item of left_menu"
              routerLink='{{item.link}}'>
            <li class="ng-star-inserted" routerLinkActive="active-list-item">
              <mat-icon>{{item.icon}}</mat-icon>
            </li>
          </a>
        </ul>
        <ul>
          <a mat-list-item
              routerLink='/help'
              class="help-small">
              <li class="ng-star-inserted" routerLinkActive="active-list-item">
                <mat-icon>help_outline</mat-icon>
              </li>
          </a>
        </ul>
        <div class="bottom-stick-small">
          <button
            mat-icon-button (click)="switchMenu()"
            class="menu-button-rotated"
            *ngIf=loggedIn>
            <mat-icon style="font-size:35px;">keyboard_double_arrow_right
</mat-icon>
          </button>
        </div>
      </mat-sidenav>
      <mat-sidenav-content
        class="mat-drawer-content mat-sidenav-content ng-star-inserted"
        [ngClass]="{loggedIn: loggedIn}"
        >
        <router-outlet></router-outlet>
      </mat-sidenav-content>

      <mat-sidenav mode="over" #sidenav (keydown.escape)="openRightPanel()" disableClose position="end" opened="true" *ngIf="right_panel_opened && loggedIn"
        class="docs-component-viewer-sidenav-reverse mat-drawer mat-sidenav ng-tns-c13-1 ng-trigger ng-trigger-transform mat-drawer-side ng-star-inserted">
        <ul>
          <li class="ng-star-inserted"
            routerLink='/documentation'
            routerLinkActive="active-list-item"
            >
            <i class="material-icons">developer_mode</i>
            API Documentation
          </li>
          <li class="ng-star-inserted"
            routerLink='/declared-workers'
            routerLinkActive="active-list-item">
            <i class="material-icons">playlist_add_check</i>
            Declared workers
          </li>
          <li class="ng-star-inserted"
            (click)="logout()">
            <i class="material-icons">power_settings_new</i>
            Logout
          </li>
        </ul>
      </mat-sidenav>
    </mat-sidenav-container>
  </main>
</div>
