<div class=credentials>
  <div class=credential
    *ngFor="let credential of credentials">
    <credential-component
      [data]=credential
      (deleted)="listCredentials()"
      >
    </credential-component>
  </div>
</div>

<h2
  color=primary>
  Insert new Credential
</h2>
<div class=add>
  <mat-form-field class=input>
    <input
      matInput
      type="text"
      placeholder="Key"
      [(ngModel)]="key"
      >
  </mat-form-field>
  <mat-form-field class=input>
    <input
      matInput
      type="text"
      placeholder="Value"
      [(ngModel)]="value"
      >
  </mat-form-field>
  <span class=action>
    <button
      mat-raised-button
      color="primary"
      (click)="insert()"
      >
      <mat-icon>add</mat-icon>
      Add
    </button>
  </span>
</div>
