<h2 color="primary">Insert new Credential</h2>
<div class="add">
  <mat-form-field class="input">
    <input matInput type="text" placeholder="Key" [(ngModel)]="key" />
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput type="text" placeholder="Value" [(ngModel)]="value" />
  </mat-form-field>
  <span class="action">
    <button
      mat-raised-button
      color="primary"
      [disabled]="selected_credential_id"
      (click)="insert()"
    >
      <mat-icon>add</mat-icon>
      Add
    </button>
  </span>
</div>

<div class="credentials">
  <div class="credential" *ngFor="let credential of credentials">
    <credential-component
      [data]="credential"
      (deleted)="listCredentials()"
      (credentialChange)="credentialHasChanged($event)"
      (saveCredential)="credentialHasBeenSaved(Credential)"
      (selectCredential)="credentialHasBeenSelected(Credential)"
      [selected_credential]="selected_credential_id"
    >
    </credential-component>
  </div>
</div>
