<div>
  <span class=language>
    <span class=information>
      <span class="locale">
        {{subtitle.language | language}}
      </span>
      <span class="version">
        {{subtitle.version}}
      </span>
      <span
         class="creation_date">
        {{subtitle.inserted_at+'Z' | date: 'd LLLL yy'}}
        {{subtitle.inserted_at+'Z' | date: 'HH:mm:ss'}}
      </span>
      <span *ngIf="subtitle.user"
         class="email">
        {{subtitle.user.email}}
      </span>
    </span>
    <mat-icon
      class=icon
      (click)="deleteSubtitle(i)">
      delete
    </mat-icon>
  </span>
</div>

<div class=childs>
  <div *ngFor="let child of subtitle.sub_childs"
    class=child>
    <subtitle-component [subtitle]=child></subtitle-component>
  </div>
</div>
