<h1 mat-dialog-title>Update Timecode</h1>

<div mat-dialog-content>

  <mat-form-field class=field>
    <input
      matInput
      type="number"
      min="0"
      max="23"
      step="1"
      [(ngModel)]="hours"
      >
  </mat-form-field>
  :
  <mat-form-field class=field>
    <input
      matInput
      type="number"
      min="0"
      max="59"
      step="1"
      [(ngModel)]="minutes"
      >
  </mat-form-field>
  :
  <mat-form-field class=field>
    <input
      matInput
      type="number"
      min="0"
      max="59"
      step="1"
      [(ngModel)]="seconds"
      >
  </mat-form-field>
  :
  <mat-form-field class=field>
    <input
      matInput
      type="number"
      min="0"
      max="24"
      step="1"
      [(ngModel)]="frames"
      >
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    <mat-icon>clear</mat-icon>
    Cancel
  </button>
  <button
    mat-raised-button
    (click)="onClose()"
    color="accent"
    cdkFocusInitial>
    <mat-icon>done</mat-icon>
    Done
  </button>
</div>
