mat-form-field {
	width: 19%;
	align-items: left;
	margin: 0% 0.5% 0% 0.5%;
}

mat-slide-toggle {
	width: 9%;
	align-items: center;
	margin: 0% 0.5% 0% 0.5%;
}

mat-raised-button {
	width: 9%;
	align-items: left;
	margin: 0% 0.5% 0% 0.5%;
}

.date-picker {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid;
	width: 19%;
	height: 20px;
	margin: 0% 0.5% 0% 0.5%;
}


.search-line {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}

#expand-icon {
	transform: rotate(0deg);
	transition-duration: 0.3s;
}

#expand-icon.expanded {
	transform: rotate(180deg);
	transition-duration: 0.3s;
}

#filter-line {
	background-color: white;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 15px;
	max-height: 0;
	padding: 0px;
	overflow-y: hidden;
	transition: 0.4s all ease;
}

#filter-line.expanded {
	max-height: 500px;
	padding: 15px;
	box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
	transition: 0.4s all ease;
}

.search-line-options {
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.delete-filter {
	position: absolute;
	right: 0px;
}

@media only screen and (max-width: 768px) {
	mat-form-field {
		width: 98%;
		margin: 0% 1% 0% 1%;
	}
	
	mat-slide-toggle {
		width: 48%;
		margin: 0% 1% 0% 1%;
	}
	
	mat-raised-button {
		width: 48%;
		margin: 0% 1% 0% 1%;
	}

	.date-picker {
		width: 98%;
		margin: 0% 1% 0% 1%;
	}
  }
