
/*.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: #770029;
}
*/
@font-face {
    font-family: 'Castorgate';
    src: url('/bundles/fonts/Castorgate.eot');
    src: url('/bundles/fonts/Castorgate.eot?#iefix') format('embedded-opentype'),
        url('/bundles/fonts/Castorgate.woff2') format('woff2'),
        url('/bundles/fonts/Castorgate.woff') format('woff'),
        url('/bundles/fonts/Castorgate.ttf') format('truetype'),
        url('/bundles/fonts/Castorgate.svg#Castorgate') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mat-checkbox.small .mat-checkbox-layout {
  transform: scale(.6);
  margin-bottom: 5px;
}

.mat-checkbox,
.mat-button,
.mat-raised-button {
  margin-left: 5px !important;
}
